@import "custom-bootstrap-variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  padding-bottom: 50px;
}

.layout__nav-container {
  background-color: theme-color("primary");
  padding-top: $card-group-margin;
  padding-bottom: $card-group-margin;
}

.layout__nav-entry-container {
  margin-right: 15px;
}
